<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ feed.main_feed_title}}</title>
        <link>{{ feed.main_feed_website }}</link>
        <description></description>
        <language>ca</language>
        <atom:link href="{{ feed.main_feed_url }}" rel="self" type="application/rss+xml" />
        {% for item in feed.entries %}
        <item>
            <title>{{ item.blog_title }}: {{ item.entry_title }}</title>
            <link>{{ item.entry_link }}</link>
            <pubDate>{{ item.date | date('r') }}</pubDate>
            <guid isPermaLink="false">{{ item.guid }}</guid>
            <description>
                    <![CDATA[ 
                        {{ item.html }}
                    ]]>
            </description>
        </item>  
        {% endfor %}
    </channel>
</rss>
